[Unit]
Description=Lock SELinux policy state
DefaultDependencies=no
Before=sysinit.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/setsebool -P secure_mode_policyload 1
ExecStart=/usr/sbin/setsebool -P secure_mode_insmod 1
ExecStart=/usr/sbin/setsebool -P secure_mode 1
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
