name: "Lint PR title"
# Can run on public GH actions runner
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - 'main'
jobs:
  lint:
    permissions:
      contents: read
    if: ${{ github.head_ref != 'main' }}
    runs-on: ubuntu-latest
    steps:
    - name: Harden runner
      uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
      with:
        egress-policy: audit

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Install dependencies
      run: npm install @commitlint/cli @commitlint/config-conventional

    - name: Validate PR title
      run: |
        PR_TITLE=$(jq -r '.pull_request.title' "$GITHUB_EVENT_PATH")
        echo "$PR_TITLE" | npx commitlint --config commitlint.config.js
